{
    "presets": [
        [
            "@babel/preset-env",
            {
                "target": { "browsers": ["> 5%", "last 2 versions", "not dead"] }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}